<style>
  body {
    background-color: #3D3A4D;
    min-height: 100%;
    height: auto;
  }

  .multiselect-parent .dropdown-toggle {
    width: 384px;
  }

  .multiselect-parent .dropdown-menu {
    width: 400px;
  }
</style>
<script src="/static/js/creative.min.js"></script>
<div class="container" ng-controller="LoungeAreaController as vm">

  <div class="panel panel-default" style="margin-top: 150px">
    <div class="row">
      <div class="col-md-12 text-center">
        <span style="font-size: 40px"><b>Create Solution Hub</b></span>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;margin-bottom: 20px">
      <div class="col-xs-8 col-xs-offset-2">
        <form name="resource_form" ng-submit="create()" method="post" novalidate>

          <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" class="form-control" id="name"
                   ng-model="vm.name" placeholder="Solutions hub name..." required>
          </div>
          <div class="form-group">
            <label for="description">Description*</label>
            <textarea rows="4" type="text" class="form-control" id="description"
                      ng-model="vm.description" placeholder="Description..." required></textarea>
          </div>

          <span class="text-info small">Invite members by email</span>
          <div style="border: 0" class="form-group form-inline"
                    data-ng-repeat="email in vm.emails">
            <label for="email">Email</label>
            <input class="form-control" type="email"
                   ng-model="email.email" name=""
                   placeholder="Enter Email Address">
            <button class="remove btn-danger"
                    ng-click="removeEmail(email)">-
            </button>
          </div>


          <a style="cursor:pointer; margin-left: 205px" class="addEmails text-primary "
             ng-click="addNewEmail()">Add Email</a><br><br>
          <div class="text-center">
            <input type="submit" value="Create Solution HUb" class="btn btn-primary" ng-click="vm.create()"/>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>